<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">  
  </head>
  <body ng-app="LunchCheck">
    <div ng-controller="LunchCheckController" class="container">
      <h4>Module 1 / Assignment 1 / lunchCheck Test :</h4>
      <form ng-submit="getLunchList()">
        <input type="text" ng-model="lunch" class="{{lunch?'border-valid':'border-error'}}" placeholder="Lunch list comma-separated">
        <input type="submit" value="Check If Too Much" ><br>
        <span class="error" ng-show="textboxEmpty">Please enter data first</span>
        <span class="valid" ng-show="counter<4">Enjoy!</span>
        <span class="valid" ng-show="counter>3">It's too much !!</span>   
        <br><li ng-repeat="item in lunchList">{{item}}</li>
      </form>
    </div>
  </body>
</html>
