*{
  outline:none;
}
.error{
  color:red;
}

.valid{
  color:green;
}

input[type=text]{
  border-radius :5px;
  width: 160px;
  height: 20px;
  padding: 3px 5px;
}

input[type=submit]{
  border-radius :5px;
  width: 160px;
  height: 28px;
  padding: 3px 5px;
  border:1px solid #ccc;
}

.border-grey{
  border:1px solid grey;
}
.border-error{
  border:1px solid #f00;
}

.border-valid{
  border:1px solid green;
}


