<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">  
  </head>
  <body ng-app="shopApp">
    <div ng-controller="ShopCtrl" class="container top30" >
      <div class="row">
        <div>Product to buy :</div>
        <ul class="to-buy">
          <span ng-show="store.toBuy==0"> Everything is bought! </span>
          <li ng-repeat="item in store.toBuy">
            <input type="button" value="Buy" ng-click="toBuy($index,item.quantity)" class="btn tiny" >
            <span>&nbsp;{{ item.quantity }}&nbsp;</span>
            <span class="productLabel">{{item.name}}</span>
            <input ng-show="item.boughtBtn" type="button" value="Bought" ng-click="moveInboughtList($index)" class="btn tiny" >

          </li>
        </ul>
          
        <div>Already Bought :</div>
        <ul>
          <span ng-show="store.bought==0"> Nothing bought yet </span>
          <li ng-repeat="item in store.bought">
            <span>Bought&nbsp;</span>
            <span>{{item.quantity}}&nbsp;</span>
            <span>{{item.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>


